<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basedata.server.mapper.BasePlatformNetsideMapper">
    <select id="findList" resultType="com.basedata.server.entity.BasePlatformNetside">
        select id, unique_no, service_provider_id, service_provider_name, logistics_id, logistics_code, logistics_name, platform_logistics_code,
        platform_code, platform_name, netsite_code, netsite_name, province, province_code, city, city_code, area, area_code, town, town_code,
        address_detail, settle_account, state, remark, created_by, created_name, created_date, modified_by, modified_name, modified_date, version,
        deleted_flag
        from base_platform_netside bpn
        where bpn.deleted_flag = 0
        <if test="serviceProviderId != null">
            and bpn.service_provider_id = #{serviceProviderId}
        </if>
        <if test="state != null">
            and bpn.state = #{state}
        </if>
        <if test="logisticsId != null">
            and bpn.logistics_id = #{logisticsId}
        </if>
        <if test="logisticsCode != null and logisticsCode !=''">
            and bpn.logistics_code = #{logisticsCode}
        </if>
        <if test="platformCode != null and platformCode !=''">
            and bpn.platform_code = #{platformCode}
        </if>
        <if test="platformLogisticsCode != null and platformLogisticsCode !=''">
            and bpn.platform_logistics_code = #{platformLogisticsCode}
        </if>
        <if test="netsiteCode != null and netsiteCode != ''">
            and bpn.netsite_code = #{netsiteCode,jdbcType=VARCHAR}
        </if>
        <if test="uniqueNo != null and uniqueNo !=''">
            and bpn.unique_no = #{uniqueNo}
        </if>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into base_platform_netside
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uniqueNo != null and uniqueNo != ''">unique_no,</if>
            <if test="serviceProviderId != null">service_provider_id,</if>
            <if test="serviceProviderName != null and serviceProviderName !=''">service_provider_name,</if>
            <if test="logisticsId != null">logistics_id,</if>
            <if test="logisticsCode != null and logisticsCode !=''">logistics_code,</if>
            <if test="logisticsName != null and logisticsName !=''">logistics_name,</if>
            <if test="platformLogisticsCode != null and platformLogisticsCode !=''">platform_logistics_code,</if>
            <if test="platformCode != null and platformCode !=''">platform_code,</if>
            <if test="platformName != null and platformName !=''">platform_name,</if>
            <if test="netsiteCode != null and netsiteCode !=''">netsite_code,</if>
            <if test="netsiteName != null and netsiteName !=''">netsite_name,</if>
            <if test="province != null and province !=''">province,</if>
            <if test="provinceCode != null and provinceCode !=''">province_code,</if>
            <if test="city != null and city !=''">city,</if>
            <if test="cityCode != null and cityCode !=''">city_code,</if>
            <if test="area != null and area !=''">area,</if>
            <if test="areaCode != null and areaCode !=''">area_code,</if>
            <if test="town != null and town !=''">town,</if>
            <if test="townCode != null and townCode !=''">town_code,</if>
            <if test="addressDetail != null and addressDetail !=''">address_detail,</if>
            <if test="brandCode != null and brandCode !=''">brand_code,</if>
            <if test="settleAccount != null and settleAccount !=''">settle_account,</if>
            <if test="attrStr1 != null and attrStr1 !=''">attr_str1,</if>
            <if test="attrStr2 != null and attrStr2 !=''">attr_str2,</if>
            <if test="attrStr3 != null and attrStr3 !=''">attr_str3,</if>
            <if test="attrStr4 != null and attrStr4 !=''">attr_str4,</if>
            <if test="attrStr5 != null and attrStr5 !=''">attr_str5,</if>
            <if test="state != null">state,</if>
            <if test="remark != null and remark !=''">remark,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdName != null">created_name,</if>
            <if test="createdDate != null">created_date,</if>

            <if test="version != null">version,</if>
            <if test="deletedFlag != null">deleted_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uniqueNo != null and uniqueNo != ''">#{uniqueNo},</if>
            <if test="serviceProviderId != null">#{serviceProviderId},</if>
            <if test="serviceProviderName != null and serviceProviderName !=''">#{serviceProviderName},</if>
            <if test="logisticsId != null">#{logisticsId},</if>
            <if test="logisticsCode != null and logisticsCode !=''">#{logisticsCode},</if>
            <if test="logisticsName != null and logisticsName !=''">#{logisticsName},</if>
            <if test="platformLogisticsCode != null and platformLogisticsCode !=''">#{platformLogisticsCode},</if>
            <if test="platformCode != null and platformCode !=''">#{platformCode},</if>
            <if test="platformName != null and platformName !=''">#{platformName},</if>
            <if test="netsiteCode != null and netsiteCode !=''">#{netsiteCode},</if>
            <if test="netsiteName != null and netsiteName !=''">#{netsiteName},</if>
            <if test="province != null and province !=''">#{province},</if>
            <if test="provinceCode != null and provinceCode !=''">#{provinceCode},</if>
            <if test="city != null and city !=''">#{city},</if>
            <if test="cityCode != null and cityCode !=''">#{cityCode},</if>
            <if test="area != null and area !=''">#{area},</if>
            <if test="areaCode != null and areaCode !=''">#{areaCode},</if>
            <if test="town != null and town !=''">#{town},</if>
            <if test="townCode != null and townCode !=''">#{townCode},</if>
            <if test="addressDetail != null and addressDetail !=''">#{addressDetail},</if>
            <if test="brandCode != null and brandCode !=''">#{brandCode},</if>
            <if test="settleAccount != null and settleAccount !=''">#{settleAccount},</if>
            <if test="attrStr1 != null and attrStr1 !=''">#{attrStr1},</if>
            <if test="attrStr2 != null and attrStr2 !=''">#{attrStr2},</if>
            <if test="attrStr3 != null and attrStr3 !=''">#{attrStr3},</if>
            <if test="attrStr4 != null and attrStr4 !=''">#{attrStr4},</if>
            <if test="attrStr5 != null and attrStr5 !=''">#{attrStr5},</if>
            <if test="state != null">#{state},</if>
            <if test="remark != null and remark !=''">#{remark},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdName != null">#{createdName},</if>
            <if test="createdDate != null">#{createdDate},</if>

            <if test="version != null">#{version},</if>
            <if test="deletedFlag != null">#{deletedFlag},</if>
        </trim>
    </insert>

    <update id="update">
        update base_platform_netside
        <trim prefix="SET" suffixOverrides=",">
            <if test="uniqueNo != null and uniqueNo != ''">unique_no = #{uniqueNo},</if>
            <if test="serviceProviderId != null">service_provider_id = #{serviceProviderId},</if>
            <if test="serviceProviderName != null and serviceProviderName !=''">service_provider_name = #{serviceProviderName},</if>
            <if test="logisticsId != null">logistics_id = #{logisticsId},</if>
            <if test="logisticsCode != null and logisticsCode !=''">logistics_code = #{logisticsCode},</if>
            <if test="logisticsName != null and logisticsName !=''">logistics_name = #{logisticsName},</if>
            <if test="platformLogisticsCode != null and platformLogisticsCode !=''">platform_logistics_code = #{platformLogisticsCode},</if>
            <if test="platformCode != null and platformCode !=''">platform_code = #{platformCode},</if>
            <if test="platformName != null and platformName !=''">platform_name = #{platformName},</if>
            <if test="netsiteCode != null and netsiteCode !=''">netsite_code = #{netsiteCode},</if>
            <if test="netsiteName != null and netsiteName !=''">netsite_name = #{netsiteName},</if>
            <if test="province != null and province !=''">province = #{province},</if>
            <if test="provinceCode != null and provinceCode !=''">province_code = #{provinceCode},</if>
            <if test="city != null and city !=''">city = #{city},</if>
            <if test="cityCode != null and cityCode !=''">city_code = #{cityCode},</if>
            <if test="area != null and area !=''">area = #{area},</if>
            <if test="areaCode != null and areaCode !=''">area_code = #{areaCode},</if>
            <if test="town != null and town !=''">town = #{town},</if>
            <if test="townCode != null and townCode !=''">town_code = #{townCode},</if>
            <if test="addressDetail != null and addressDetail !=''">address_detail = #{addressDetail},</if>
            <if test="brandCode != null and brandCode !=''">brand_code = #{brandCode},</if>
            <if test="settleAccount != null and settleAccount !=''">settle_account = #{settleAccount},</if>
            <if test="attrStr1 != null and attrStr1 !=''">attr_str1 = #{attrStr1},</if>
            <if test="attrStr2 != null and attrStr2 !=''">attr_str2 = #{attrStr2},</if>
            <if test="attrStr3 != null and attrStr3 !=''">attr_str3 = #{attrStr3},</if>
            <if test="attrStr4 != null and attrStr4 !=''">attr_str4 = #{attrStr4},</if>
            <if test="attrStr5 != null and attrStr5 !=''">attr_str5 = #{attrStr5},</if>
            <if test="state != null">state = #{state},</if>
            <if test="remark != null">remark = #{remark},</if>

            <if test="modifiedBy != null">modified_by = #{modifiedBy},</if>
            <if test="modifiedName != null">modified_name = #{modifiedName},</if>
            <if test="modifiedDate != null">modified_date = #{modifiedDate},</if>
            <if test="version != null">version = version + 1,</if>
            <if test="deletedFlag != null">deleted_flag = #{deletedFlag},</if>
        </trim>
        where id = #{id}
        <if test="version != null">
            and version = #{version}
        </if>
    </update>
</mapper>
