<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.permission.server.permission.mapper.BasePermissionGroupParamMapper">
    <resultMap type="com.org.permission.server.permission.entity.BasePermissionGroupParam" id="base_permission_group_params">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="group_id" jdbcType="BIGINT" property="groupId" />
        <result column="param_code" jdbcType="VARCHAR" property="paramCode" />
        <result column="param_name" jdbcType="VARCHAR" property="paramName" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
        <result column="state" jdbcType="INTEGER" property="state" />
        <result column="created_by" jdbcType="BIGINT" property="createdBy" />
        <result column="created_name" jdbcType="VARCHAR" property="createdName" />
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
        <result column="modified_by" jdbcType="BIGINT" property="modifiedBy" />
        <result column="modified_name" jdbcType="VARCHAR" property="modifiedName" />
        <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    </resultMap>


    <insert id="addBasePermissionGroupParam" parameterType="com.org.permission.server.permission.entity.BasePermissionGroupParam" useGeneratedKeys="true" keyProperty="id" >
        insert into
            base_permission_group_param(id,group_id,param_code,param_name,remark,param_value,state,created_by,created_name,created_date,modified_by,modified_name,modified_date)
        values( #{id,jdbcType=BIGINT},#{groupId,jdbcType=BIGINT},#{paramCode,jdbcType=VARCHAR},#{paramName,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{paramValue,jdbcType=VARCHAR},#{state,jdbcType=INTEGER},#{createdBy,jdbcType=BIGINT},#{createdName,jdbcType=VARCHAR},#{createdDate,jdbcType=TIMESTAMP},#{modifiedBy,jdbcType=BIGINT},#{modifiedName,jdbcType=VARCHAR},#{modifiedDate,jdbcType=TIMESTAMP})
    </insert>
    <update id="delBasePermissionGroupParam" parameterType="java.lang.Long">
        update  base_permission_group_param set state='0' where id=#{id}
    </update>
    <delete id="delBasePermissionGroupParamTrue"  parameterType="java.lang.Long">
        delete from base_permission_group_param where id=#{id}
    </delete>
    <update id="updateBasePermissionGroupParam" parameterType="com.org.permission.server.permission.entity.BasePermissionGroupParam">
        update base_permission_group_param
        <set>
            <if test="groupId!=null">
                group_id=#{groupId,jdbcType=BIGINT},
            </if>
            <if test="paramCode!=null">
                param_code=#{paramCode,jdbcType=VARCHAR},
            </if>
            <if test="paramName!=null">
                param_name=#{paramName,jdbcType=VARCHAR},
            </if>
            <if test="remark!=null">
                remark=#{remark,jdbcType=VARCHAR},
            </if>
            <if test="paramValue!=null">
                param_value=#{paramValue,jdbcType=VARCHAR},
            </if>
            <if test="state!=null">
                state=#{state,jdbcType=INTEGER},
            </if>
            <if test="createdBy!=null">
                created_by=#{createdBy,jdbcType=BIGINT},
            </if>
            <if test="createdName!=null">
                created_name=#{createdName,jdbcType=VARCHAR},
            </if>
            <if test="createdDate!=null">
                created_date=#{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedBy!=null">
                modified_by=#{modifiedBy,jdbcType=BIGINT},
            </if>
            <if test="modifiedName!=null">
                modified_name=#{modifiedName,jdbcType=VARCHAR},
            </if>
            <if test="modifiedDate!=null">
                modified_date=#{modifiedDate,jdbcType=TIMESTAMP}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="getBasePermissionGroupParamByID" parameterType="java.lang.Long" resultMap="base_permission_group_params">
        select * from base_permission_group_param where   id=#{id}
    </select>
    <select id="getBasePermissionGroupParamCount" resultType="Integer">
        select count('1') from base_permission_group_param where state='1'
    </select>
    <select id="getBasePermissionGroupParamCountAll" parameterType="String" resultMap="base_permission_group_params">
        select count('1') from base_permission_group_param
    </select>
    <select id="getListBasePermissionGroupParamsByPage" parameterType="com.org.permission.server.permission.vo.BasePermissionGroupParamVo" resultMap="base_permission_group_params">
        select * from base_permission_group_param
        <include refid="Where_Conditions"/>
    </select>

    <select id="getListBasePermissionGroupParamsByPojoPage" parameterType="java.util.Map"  resultMap="base_permission_group_params">
        select * from base_permission_group_param where 1=1
        <if test="pojo.id != null and pojo.id != ''"> and id = #{pojo.id}</if>
        <if test="pojo.groupId != null and pojo.groupId != ''"> and group_id = #{pojo.groupId}</if>
        <if test="pojo.paramCode != null and pojo.paramCode != ''"> and param_code = #{pojo.paramCode}</if>
        <if test="pojo.paramName != null and pojo.paramName != ''"> and param_name = #{pojo.paramName}</if>
        <if test="pojo.remark != null and pojo.remark != ''"> and remark = #{pojo.remark}</if>
        <if test="pojo.paramValue != null and pojo.paramValue != ''"> and param_value = #{pojo.paramValue}</if>
        <if test="pojo.state != null and pojo.state != ''"> and state = #{pojo.state}</if>
    </select>
    <select id="getListBasePermissionGroupParamsByPOJO" parameterType="com.org.permission.server.permission.entity.BasePermissionGroupParam" resultMap="base_permission_group_params">
        select * from base_permission_group_param
        <include refid="Where_Conditions" />
    </select>
    <sql id="Where_Conditions">
        <where>
            <!-- 以下查询条件为模拟生成，请大家开发时进行修改-->
            <if test="id != null  "> and id = #{id}</if>
            <if test="groupId!=null">
                and group_id=#{groupId,jdbcType=BIGINT}
            </if>
            <if test="paramCode!=null">
                and param_code=#{paramCode,jdbcType=VARCHAR}
            </if>
            <if test="paramName!=null">
                and param_name=#{paramName,jdbcType=VARCHAR}
            </if>
            <if test="remark!=null">
                and remark=#{remark,jdbcType=VARCHAR}
            </if>
            <if test="paramValue!=null">
                and param_value=#{paramValue,jdbcType=VARCHAR}
            </if>
            <if test="state!=null">
                and state=#{state,jdbcType=INTEGER}
            </if>
            <if test="createdBy!=null">
                and created_by=#{createdBy,jdbcType=BIGINT}
            </if>
            <if test="createdName!=null">
                and created_name=#{createdName,jdbcType=VARCHAR}
            </if>
            <if test="createdDate!=null">
                and created_date=#{createdDate,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedBy!=null">
                and modified_by=#{modifiedBy,jdbcType=BIGINT}
            </if>
            <if test="modifiedName!=null">
                and modified_name=#{modifiedName,jdbcType=VARCHAR}
            </if>
            <if test="modifiedDate!=null">
                and modified_date=#{modifiedDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>
</mapper>

