<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.permission.server.permission.mapper.BasePermissionTypeDomainMapper">
    <select id="getDomainByType" parameterType="java.util.Map" resultMap="base_permission_type_domains">
        select * from base_permission_type_domain bptd where bptd.type_id in
        <foreach collection="array" index="index" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>

