<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.permission.server.permission.mapper.BasePermissionTypeResourceMapper">

    <resultMap type="com.org.permission.server.permission.dto.ResourceDto" id="base_permission_resourceDto">
        <result property="id" column="id"/>
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="resource_desc" jdbcType="VARCHAR" property="resourceDesc" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="resource_type" jdbcType="INTEGER" property="resourceType" />
        <result column="belong" jdbcType="BIGINT" property="belong" />
        <result column="bussiness_system" jdbcType="VARCHAR" property="bussinessSystem" />
        <result column="permission_group" jdbcType="VARCHAR" property="permissionGroup" />
        <result column="control_display" jdbcType="TINYINT" property="controlDisplay" />
        <result column="state" jdbcType="INTEGER" property="state" />
        <result column="leaf_flag" jdbcType="INTEGER" property="leafFlag" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="number" jdbcType="VARCHAR" property="number" />
        <result column="hidden" jdbcType="INTEGER" property="hidden" />
        <result column="target" jdbcType="VARCHAR" property="target" />
        <result column="component" jdbcType="VARCHAR" property="component" />
        <result column="keep_alive" jdbcType="INTEGER" property="keepAlive" />
        <result column="redirect" jdbcType="VARCHAR" property="redirect" />
        <result column="menu_order" jdbcType="INTEGER" property="menuOrder" />
        <result column="iframe_path" jdbcType="VARCHAR" property="iframePath" />
        <result column="source" jdbcType="INTEGER" property="source" />
        <result column="operations" jdbcType="VARCHAR" property="operations" />
        <result column="token" jdbcType="INTEGER" property="token" />
    </resultMap>


    <select id="getPermissionByType" parameterType="java.util.Map" resultMap="base_permission_resourceDto">
        SELECT
        bpr.id,
        bpr.name,
        bpr.parent_id,
        bpr.resource_desc,
        bpr.url,
        bpr.type,
        bpr.resource_type,
        bpr.belong,
        bpr.bussiness_system,
        bpr.permission_group,
        bpr.control_display,
        bpr.state,
        bpr.leaf_flag,
        bpr.icon,
        bpr.number,
        bpr.hidden,
        bpr.target,
        bpr.component,
        bpr.keep_alive,
        bpr.redirect,
        bpr.menu_order,
        bpr.iframe_path,
        bpr.source,
        bpr.operations,
        bpr.token
        FROM
        base_permission_type_resource bptr
        INNER JOIN base_permission_resource bpr ON bptr.permission_id = bpr.id
        WHERE
        bptr.`state` = 1
        AND bpr.`state` = 1
        AND bptr.business_type_id IN
        <foreach collection="array" index="index" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        group by bpr.id
    </select>

</mapper>

