<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.permission.server.org.mapper.FinanceOrgFuncVersionMapper">

    <!--新版本财务组织职能-->
    <insert id="addFinanceFunc" parameterType="com.org.permission.common.org.dto.func.FinanceOrgFuncBean">
        insert into base_organization_function_version(<include refid="insert_base_list"/>)
        values(
        #{bean.id},
        2,
        #{bean.state},
        #{bean.orgId},
        #{reqParam.version},
        #{bean.aloneFlag},
        #{bean.taxRegistrationNumber},
        #{bean.createdBy},
        #{bean.createdDate},
        #{bean.modifiedBy},
        #{bean.modifiedDate},
        #{reqParam.versionFlag},
        #{reqParam.versionStartTime},
        #{reqParam.versionEndTime}
        )
    </insert>

    <sql id="insert_base_list">
        func_id,
        function_type,
        state,
        org_id,
        version,
        alone_flag,
        tax_registration_number,
        created_by,
        created_date,
        modified_by,
        modified_date,
        version_flag,
        version_start_time,
        version_end_time
    </sql>
</mapper>

