<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.permission.server.org.mapper.SaleOrgFuncMapper">

    <!--新增销售组织职能-->
    <insert id="addSaleFunc" parameterType="com.org.permission.common.org.dto.func.SaleOrgFuncBean" keyProperty="bean.id" useGeneratedKeys="true">
        insert into base_organization_function(<include refid="insert_base_list"/>)
        values(
        4,
        #{bean.state},
        #{bean.orgId},
        #{bean.parentSaleOrgId},
        #{bean.receiveOrgId},
        #{bean.settleOrgId},
        #{bean.stockOrgId},
        #{bean.createdBy},
        #{bean.createdName},
        #{bean.createdDate}
        )
    </insert>

    <update id="updateSaleFunc" parameterType="com.org.permission.common.org.dto.func.SaleOrgFuncBean">
        update base_organization_function
        set
        state = #{bean.state},
        parent_sale_org_id=#{bean.parentSaleOrgId},
        default_receive_org_id=#{bean.receiveOrgId},
        default_settlement_org_id=#{bean.settleOrgId},
        default_stock_org_id=#{bean.stockOrgId},
        modified_by = #{bean.modifiedBy},
        modified_date= #{bean.modifiedDate}
        where org_id = #{bean.orgId} and function_type=#{bean.funcType}
    </update>
    <!--业务委托关系更新销售组织职能-->
    <update id="entrustCascadeUpdateSaleFunc" parameterType="com.org.permission.common.org.dto.func.SaleOrgFuncBean">
        update base_organization_function set
        default_settlement_org_id=#{bean.settleOrgId},
        default_stock_org_id=#{bean.stockOrgId},
        modified_by = #{bean.modifiedBy},
        modified_name = #{bean.modifiedName},
        modified_date = #{bean.modifiedDate}
        where id = #{bean.id}
    </update>

    <sql id="insert_base_list">
        function_type,
        state,
        org_id,
        parent_sale_org_id,
        default_receive_org_id,
        default_settlement_org_id,
        default_stock_org_id,
        created_by,
        created_name,
        created_date
    </sql>
</mapper>

